<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/nav.css') }}">
      <title>{% block title %}Raise 'Em Funds{% endblock %}</title>
   </head>
   <body>
      <nav class="navbar">
         <a class="navbar-brand" href="/">Raise 'Em Funds</a>
         <ul class="navbar-menu">
            <li><a href="/">Home</a></li>
            <li><a href="/explore">Explore</a></li>
            <li><a href="/login">Login</a></li>
         </ul>
      </nav>
      <div class="container">
         {% block content %}{% endblock %}
      </div>
      <footer>
         <p>©2024 Raise 'Em Funds <u>Privacy Policy</u> <u>Terms of Service</u> <u>Legal</u> <u>Cookie Policy</u></p>
      </footer>
   </body>
</html>

