{% extends 'base.html' %}

{% block title %}RaiseMFunds - Home{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
<div class="remove">
   <div class="liberty">
      <div class="libertytext">
         <h1>RaiseMFunds</h1>
         <p>Our mission is to help immigrants achieve the American Dream!</p>
         <a href="#" class="bigbutton">READ MORE</a>
      </div>
   </div>
   <div class="mainbody">
      <h2>Some Stories</h2>
      <p>
         <i>Jed is an immigrant from China. He came to the United States in 2022 and is looking forward to building a life here. He was finally reunited with his parents and sisters this summer.</i>
      </p>
      <p>Jed L</p>
      <p>
         <i>Lorem ipsum odor amet, consectetuer adipiscing elit. Tincidunt elementum bibendum ultricies facilisis nisi platea varius per? Magna ex justo volutpat; vel sed turpis?...</i>
      </p>
      <p>John Doe</p>
   </div>
</div>

<div class="newsletter-container">
   <form class="newsletter-form">
      <h3>Subscribe to our Newsletter</h3>
      <label for="email">Stay Updated:</label><br>
      <input class="input-email" type="email" id="email" placeholder="Enter your email"><br>
      <a type="submit" class="submit-button" target="_blank" rel="noopener noreferrer" href="/static/Company Newsletter.pdf">Subscribe</a>
   </form>
</div>

{% endblock %}
