
 {% extends 'base.html' %}

{% block title %}Raise 'Em Funds - Home{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
<div class="remove">
   <div class="liberty">
      <div class="libertytext">
         <h1>Raise 'Em Funds
         </h1>
         <p>Our mission is to help immigrants achieve the American Dream!</p>
         <a href="/explore" class="bigbutton">READ MORE</a>
      </div>
   </div>

   <div class="mainbody">

       <img class="liberals" src="{{ url_for('static', filename='imgs/download-removebg-preview.png') }}" alt="Immigrants' Journey">
       <h2>About Us</h2>
       <p>We come from a family of immigrants. We understand the struggles that come with starting a new life in America. Our parents came here as teenagers and had to not only deal with the struggles of discrimination, but also language barriers and a lack of oppurtunity. That is why we are committed to ensuring that all immigrants have the opportunity to express themselves and pursue the American Dream. We hope to spread the message and show why diversity is so important. Help us make the American Dream a reality for everyone!</p>
   </div>

</div>

<div class="newsletter-container">
   <form class="newsletter-form">
      <h3>Subscribe to our Newsletter</h3>
      <label for="email">Stay Updated:</label><br>
      <input class="input-email" type="email" id="email" placeholder="Enter your email"><br>
      <a type="submit" class="submit-button" target="_blank" rel="noopener noreferrer" href="/static/Company Newsletter.pdf">Subscribe</a>
   </form>
</div>

{% endblock %}
