<html>
   <head>
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
      <title>RaiseMFunds</title>
   </head>
   <body>
      <div class="liberty">
      <div class="libertytext">
            <h1>
                RaiseMFunds
            </h1>
            <p>
               Our mission is to help immigrants achieve the American Dream!
            </p>
<a href class="bigbutton">
READ MORE
</a>
        </div>
      </div>
      <div class="menu">
         
      </div>
   </body>
</html>