{% extends 'base.html' %}

{% block title %}RaiseMFunds - Login{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login.css') }}">
<div class="whole-login">
    <form id="login-form">
        <h2 id="headers">Login</h2> <!-- Added ID "headers" -->
        <div class="email">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" required>
        </div>
        <div class="password">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" required>
        </div>
        <button type="submit" id="submit-button"   >Login</button>
        <p id="toggle-text">Don't have an account? <a href="#" id="toggleLink">Sign up</a></p>
        <p id="debug"></p> <!-- Added debug element for feedback messages -->
    </form>
</div>
<script src="{{ url_for('static', filename='js/login.js') }}"></script>
{% endblock %}
