.liberty{
    background-image:url("/static/imgs/liberty-bg.webp");
    background-position:center;
    background-size:cover;
    height: 100%;
    text-align: center;
}
h1{
    font:Roboto Slab;
    font-size: 150px;
    font-weight: bold;
}
.libertytext{
    position:absolute;
    top: 35%;
    left: 65%;
    color: white;
    transform: translate(-50%,-50%);

}
.libertytext p{
    font-size: 35px;
    font-weight: bold;
    margin-top: -100px;
    white-space: nowrap;
}

.bigbutton{
    color: white;
    background: red;
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
}