body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.liberty {
    background-image: url("/static/imgs/liberty-bg.webp");
    background-position: center;
    background-size: cover;
    height: 100vh;
    text-align: center;
    position: relative;
}

h1 {
    font-family: 'Roboto Slab', serif;
    font-size: 150px;
    font-weight: bold;
    margin: 0;
}

.libertytext {
    position: absolute;
    top: 50%;
    left: 65%;
    color: white;
    transform: translate(-50%, -50%);
}

.libertytext p {
    font-size: 30px;
    font-weight: bold;
    margin-top: 20px;
    white-space: nowrap;
    margin-bottom: 40px;
}

.bigbutton {
    color: white;
    background: red;
    padding: 30px 100px;
    font-size: 40px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
}

.mainbody {
    text-align: center; 
    color: white;
    background: #152283;
    padding: 5% 0;
    font-size: 30px;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 25%;
}
.remove {
    display: flex;
    flex-direction: column;
}

.newsletter-container {
    padding: 5% 0;
    background: url("/static/imgs/MovingFlag.webp") no-repeat center center fixed;
    background-position: center 100px; /* Adjust this value to move the image lower */
    background-size: cover;
}

.newsletter-form {
    text-align: center;
    background-color: #152283;
    color: white;
    padding: 1.5%; /* Reduced padding */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    max-width: 400px; /* Reduced max-width */
    margin: 40px auto 20px auto; /* Increased top margin */
    padding-left: 10%; /* Adjusted padding */
    padding-right: 10%; /* Adjusted padding */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px; /* Reduced gap */
    border-radius: 10px;
    margin-top: 8%;
}





.input-email {
    border-radius: 5px; /* Reduced roundness to match form */
    padding: 5%;
    width: 80%;
    max-width: 350px;
    border: 2px solid #ccc;
    font-size: 18px;
    background-color: white;
    color: #333;
}

.submit-button {
    padding: 15px 40px;
    border-radius: 10px; /* Reduced roundness */
    border: none;
    background-color: red;
    color: white;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s;
}

.submit-button:hover {
    background-color: #e5533d;
    transform: scale(1.05);
}
